 <html>
	<body>
		<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Tim's Selective Information Processing Style</span> <button id="timIPSToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="timIPSToolTip" style="margin:5px;">
            <span id="timIPSToolTipPreview">Tim's <i>selective information processing style</i> means that he solves problems incrementally, delving into the first promising option and pursuing it, then backing out if it doesn't work.</span>        
            <span id="timIPSToolTipComplete" hidden>
                When he is exploring or searching for information to solve a problem with a computer program or gadget he uses, he likes a <i>selective information processing style</i> or “depth first” approach. That is, he usually <span style="color:red;"><u>delves into the first promising option, pursues it, and if it doesn’t work out he backs out</u></span> and gathers a bit more information until he sees <span style="color:red;"><u>another option to try.</u></span> Thus, his style is very incremental.
            </span>
            <button id="timIPSToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>			
	</body>
 </html>