 <html>
	<body>
	<div style="height:30px; background-color:#4A96AD;text-align:center;"> <span
            style="color:white;">Tim's Motivation</span> <button id="timMToolTipButton"class="closeToolTip"
            style="float:right; width:70px; height:30px; background-color:#7D1935;
             color: white;" > Close </button></div>
		<div id="timMToolTip" style="margin:5px;"> 
            <span id="timMToolTipPreview">Tim likes to learn all the available
                functionality of <span class="possessive">their</span> devices,
                exploring even the most obscure features.</span>
            <span id="timMToolTipComplete" >
                Tim is proficient with the technologies <span class="pronoun">they</span>
                use<span class="verb-other"></span>. Tim <span style="color:red;"><u>likes learning all the available
                functionality on all of <span class="possessive">their</span> devices</u></span>
                and the computer systems <span class="pronoun">they</span> use<span class="verb-other"></span>,
                even when it may not be necessary help Tim achieve <span class="possessive">their</span>
                tasks.  Tim likes trying to figure out if there is more than one
                way of doing the same thing. Time sometimes finds <span class="possessive">their</span>self
                exploring functions of one of <span class="possessive">their</span>
                gadgets for so long that <span class="pronoun">they</span> lose<span class="verb-other"></span>
                sight of what <span class="pronoun">they</span> wanted to do with it to begin with.
            </span>
            <button id="timMToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>			
	</body>
 </html>