 <html>
	<body>
	<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Tim's Motivation</span> <button id="timMToolTipButton"class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="timMToolTip" style="margin:5px;"> 
            <span id="timMToolTipPreview">Tim likes to learn all the available functionality of his devices, exploring even the most obscure features.</span>
            <span id="timMToolTipComplete" hidden>
                Tim is proficient with the technologies he uses. He <span style="color:red;"><u>likes learning all the available functionality on all of his devices</u></span> and the computer systems he uses, even when it may not be necessary help him achieve his tasks.  He likes trying to figure out if there is more than one way of doing the same thing. He sometimes finds himself exploring functions of one of his gadgets for so long that he loses sight of what he wanted to do with it to begin with.
            </span>
            <button id="timMToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>			
	</body>
 </html>