
<html>
	<head>
	</head>
	<body>
	<div>
		<div id="picGoesHere" style="height:100%; width:20%;float:left;"></div>
			<div class="bullets" style="height:100%; width:80%;float:right">
				<ul>
					<li>Is <span class="timMTrigger" style="color:blue"> motivated </span> by the novelty of technology (as opposed to the usefulness).</li>
					<li>Has a <span class="timIPSTrigger" style="color:blue">selective information processing style </span>.</li>
					<li>Has <span class="timSETrigger" style="color:blue">high computer self-efficacy </span>.</li>
					<li>Is <span class="timRTrigger" style="color:blue">risk-taking</span> when it comes to software.</li>
					<li>Likes to <span class="timTTrigger" style="color:blue"> explore and tinker</span>.</li>
				</ul>
			</div>
		</div>
	</body>
</html>
