 <html>
	<body>
	<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Tim's Attitudes Towards Risk</span> <button id="timRToolTipButton"class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="timRToolTip" style="margin:5px;"> 
            <span id="timRToolTipPreview">Tim doesn't mind taking risks when it comes to using features he hasn't seen before.</span>
            <span id="timRToolTipComplete" hidden>
                Tim <span style="color:red;"><u>doesn’t mind taking risks using features of technology</u></span> that haven’t been proven to work. When he is presented with challenges because he has tried a new way that doesn’t work, it doesn’t change his attitudes toward technology.
            </span>
            <button id="timRToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>			
	</body>
 </html>