 <html>
	<body>
	<div style="height:30px; background-color:#4A96AD;text-align:center;">
        <span style="color:white;">Tim's Attitudes Towards Risk</span>
        <button id="timRToolTipButton"class="closeToolTip" style="float:right;
        width:70px; height:30px; background-color:#7D1935; color: white;" > Close </button></div>
		<div id="timRToolTip" style="margin:5px;"> 
            <span id="timRToolTipPreview">Tim doesn't mind taking risks when it
                comes to using features <span class="pronoun">they</span> ha<span class="verb-other">ve</span> not seen before.</span>
            <span id="timRToolTipComplete" >
                Tim <span style="color:red;"><u>doesn’t mind taking risks using features
                of technology</u></span> that haven’t been proven to work. When
                Tim is presented with challenges because <span class="pronoun">they</span>
                ha<span class="verb-other">ve</span> tried a new way that doesn’t work,
                it doesn’t change <span class="posessive">their</span> attitudes toward technology.
            </span>
            <button id="timRToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>			
	</body>
 </html>