 <html>
	<body>	
	<div style="height:30px; background-color:#4A96AD; text-align:center;"> <span style="color:white;">Tim's Computer Self-Efficacy</span> <button id="timSEToolTipButton" class="closeToolTip" style="float:right; width:70px; height:30px; background-color:#7D1935; color: white;" > Close </button></div>
    <div id="timSEToolTip" style="margin:5px">
        <span id="timSEToolTipPreview">Tim is very confident in their technological abilites, and they blame the software vendor if they run into problems with features.</span>
        <span id="timSEToolTipComplete" hidden>
            Tim is <span style="color:red;"><u>very confident in their abilities with technology,</u></span> and thinks they are better than the average person at learning about new features.  They don't give up easily when computers or technology present a challenge to them. Tim will spend hours reading the manual so they can configure something to do exactly what they want to do. <span style="color:red;"><u>If they can’t fix the problem, they blame it on the software vendor</u></span>; it’s not their fault if they can’t get it to work.
        </span>
        <button id="timSEToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
    </div>			
	</body>
 </html>