 <html>
	<body>	
	<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Tim's Computer Self-Efficacy</span> <button id="timSEToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
    <div id="timSEToolTip" style="margin:5px">
        <span id="timSEToolTipPreview">Tim is very confident in his technological abilites, and he blames the software vendor if he runs into problems with features.</span>
        <span id="timSEToolTipComplete" hidden>
            Tim is <span style="color:red;"><u>very confident in his abilities with technology,</u></span> and thinks he’s better than the average person at learning about new features.  He doesn’t give up easily when computers or technology present a challenge to him. He will spend hours reading the manual so he can configure something to do exactly what he wants to do. <span style="color:red;"><u>If he can’t fix the problem, he blames it on the software vendor</u></span>; it’s not his fault if he can’t get it to work.
        </span>
        <button id="timSEToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
    </div>			
	</body>
 </html>