 <html>
	<body>	
	<div style="height:30px; background-color:#4A96AD; text-align:center;">
        <span style="color:white;">Tim's Computer Self-Efficacy</span> <button id="timSEToolTipButton"
        class="closeToolTip" style="float:right; width:70px; height:30px; background-color:#7D1935;
        color: white;" > Close </button></div>
    <div id="timSEToolTip" style="margin:5px">
        <span id="timSEToolTipPreview">Tim is very confident in <span class="possessive">their</span>
            technological abilities, and <span class="pronoun">they</span> blame<span class="verb-other"></span>
            the software vendor if they run into problems with features.</span>
        <span id="timSEToolTipComplete" >
            Tim is <span style="color:red;"><u>very confident in <span class="possessive">their</span>
            abilities with technology,</u></span> and thinks <span class="pronoun">they</span>
            <span class="verb-is">are</span> better than the average person at learning about new features.
            Tim doesn't give up easily when computers or technology present a
            challenge to <span class="pronoun">them</span>. Tim will spend hours
            reading the manual so <span class="pronoun">they</span> can configure
            something to do exactly what <span class="pronoun">they</span> want<span class="verb-other"></span> to do.
            <span style="color:red;"><u>If <span class="pronoun">they</span> can’t fix the problem,
            <span class="pronoun">they</span> blame<span class="verb-other"></span> it on the software vendor</u></span>;
            it’s not <span class="possessive">their</span> fault if
            <span class="pronoun">they</span> can’t get it to work.
        </span>
        <button id="timSEToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
    </div>			
	</body>
 </html>