 <html>
	<body >
	<div id="BARkeryCroc" style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Tim's Attitudes About Tinkering</span> <button id="timTToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="timTToolTip" style="padding:5px;" >
            <span id="timTToolTipPreview">Tim builds his understanding of the software by exploring and tinkering with its features and menus.</span>
            <span id="timTToolTipComplete" hidden>
                Whenever Tim uses new technology, he tries to construct his own understanding of how the software works internally.  He <span style="color:red;"><u>likes tinkering and exploring </u></span>the menu items and functions of the software or device in order to build that understanding. Sometimes though he plays with features too much, losing focus on what he set out to do originally.
            </span>
            <button id="timTToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>
	</body>
 </html>