 <html>
	<body>
	<div id="BARkeryCroc" style="height:30px; background-color:#4A96AD;text-align:center;">
        <span style="color:white;">Tim's Attitudes About Tinkering</span> <button id="timTToolTipButton"
        class="closeToolTip" style="float:right; width:70px; height:30px; background-color:#7D1935; color: white;">
        Close </button></div>
		<div id="timTToolTip" style="padding:5px;" >
            <span id="timTToolTipPreview">Tim builds <span class="possessive">their</span>
                understanding of the software by exploring and tinkering with its features and menus.</span>
            <span id="timTToolTipComplete" >
                Whenever <span class="pronoun">they</span> use<span class="verb-other"></span>
                new technology, Tim tries to construct <span class="possessive">their</span> own understanding
                of how the software works internally. Tim <span style="color:red;"><u>likes
                tinkering and exploring </u></span>the menu items and functions
                of the software or device in order to build that understanding.
                Sometimes though, Tim plays with features too much, losing focus
                on what <span class="pronoun">they</span> set out to do originally.
            </span>
            <button id="timTToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>
	</body>
 </html>