 <html>
	<body>
	<div style="height:20px; background-color:#1e57c8;text-align:center;"> <span style="color:white;">Pat's Motivation</span>  <button id="patriciaMToolTipButton"class="closeToolTip" style="float:right; width:70px; height:20px; background-color:#ed7d31; color: white;" > Close </button></div>
		<div id="patriciaMToolTip" style="margin:5px;">
			<span id="patriciaMToolTipPreview" >Pat learns new technologies when they need to, and they are good with technology that they have experience with.</span>
			<span id="patriciaMToolTipComplete" hidden>
			Pat is <span style="color:red;"><u>proficient with the technologies they use.</u></span>They learn new technologies when they need to, but they <span style="color:red;"><u>don't spend their free time exploring technology</u></span> or exploring obscure functionality of programs and devices that they use. They tend to use methods they are already familiar and comfortable with to achieve their goals.
			</span>
			<button id="patriciaMToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>
	</body>
 </html>
