 <html>
	<body>
		<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Pat's Information Processing Style</span> <button id="patriciaIPSToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="patriciaIPSToolTip" style="margin:5px;"> 
		<span id="patriciaIPSToolTipPreview" >Pat's <i>comprehensive information processing style</i> means that she tends to gather information about a problem before she starts to solve it. For instance, she might look up a tutorial.</span>
		<span id="patriciaIPSToolTipComplete" hidden>
		Pat leans towards a <i>comprehensive information processing style</i> when she needs to gather information to problem-solve. That is, before following some option that seems promising, she first <span style="color:red;"><u>gathers information comprehensively to try to form a complete understanding of the problem before trying to solve it.</u></span> Thus, her style is "burst-y"; first she reads a lot, then she acts on it in a batch of activity.</span>
		<button id="patriciaIPSToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>			
	</body>
 </html>