 <html>
	<body>
	<div style="height:20px; background-color:#1e57c8;text-align:center;"> <span style="color:white;">Pat's Computer Self-Efficacy</span> <button id="patriciaSEToolTipButton" class="closeToolTip" style="float:right; width:70px; height:20px; background-color:#ed7d31; color: white;" > Close </button></div>
		<div id="patriciaSEToolTip" style="margin:5px;">
		<span id="patriciaSEToolTipPreview" > Pat's medium computer self efficacy means that they will persist through some challenges when using software for a reasonable amount of time. </span>
		<span id="patriciaSEToolTipComplete" hidden>
		Pat has <span style="color:red;"><u>medium computer self-efficacy,</u></span> meaning that they have some self-confidence in performing computing tasks other than the ones they are familiar with. This has a variety of impacts on how they use software. For example,they will keep on trying to figure out how to achieve what they have set out to do for quite awhile; they don't give up right away when computers or technology present a challenge to them.</span>
		<button id="patriciaSEToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>
	</body>
 </html>
