 <html>
	<body>	
	<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Pat's Computer Self-Efficacy</span> <button id="patriciaSEToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="patriciaSEToolTip" style="margin:5px;"> 
		<span id="patriciaSEToolTipPreview" > Pat's medium computer self efficacy means that she will persist through some challenges when using software for a reasonable amount of time. </span>
		<span id="patriciaSEToolTipComplete" hidden> 
		Pat has <span style="color:red;"><u>medium computer self-efficacy,</u></span> meaning that she has some self-confidence in performing computing tasks other than the ones she is familiar with. This has a variety of impacts on how she uses software. For example, she will keep on trying to figure out how to achieve what she has set out to do for quite awhile; she doesn't give up right away when computers or technology present a challenge to her.</span>
		<button id="patriciaSEToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>	
		</div>			
	</body>
 </html>