 <html>
	<body>
	<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Pat's Motivation</span>  <button id="patriciaMToolTipButton"class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="patriciaMToolTip" style="margin:5px;">
			<span id="patriciaMToolTipPreview" >Pat learns new technologies when she needs to, and she's good with technology that she has experience with.</span>
			<span id="patriciaMToolTipComplete" hidden> 
			Pat is <span style="color:red;"><u>proficient with the technologies she uses.</u></span> She learns new technologies when she needs to, but she <span style="color:red;"><u>doesn't spend her free time exploring technology</u></span> or exploring obscure functionality of programs and devices that she uses. She tends to use methods she is already familiar and comfortable with to achieve her goals.
			</span>
			<button id="patriciaMToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>			
	</body>
 </html>