 <html>
	<body>
		<div style="height:20px; background-color:#1e57c8;text-align:center;"> <span style="color:white;">Pat's Information Processing Style</span> <button id="patriciaIPSToolTipButton" class="closeToolTip" style="float:right; width:70px; height:20px; background-color:#ed7d31; color: white;" > Close </button></div>
		<div id="patriciaIPSToolTip" style="margin:5px;">
		<span id="patriciaIPSToolTipPreview" >Pat's <i>comprehensive information processing style</i> means that they tends to gather information about a problem before they starts to solve it. For instance, they might look up a tutorial.</span>
		<span id="patriciaIPSToolTipComplete" hidden>
		Pat leans towards a <i>comprehensive information processing style</i> when they need to gather information to problem-solve. That is, before following some option that seems promising, they first <span style="color:red;"><u>gather information comprehensively to try to form a complete understanding of the problem before trying to solve it.</u></span> Thus, their style is "burst-y"; first they read a lot, then they act on it in a batch of activity.</span>
		<button id="patriciaIPSToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>
	</body>
 </html>
