 <html>
	<body>
	<div style="height:20px; background-color:#4A96AD;text-align:center;"> <span style="color:white;">Abby's Motivation</span> <button id="abbyMToolTipButton"class="closeToolTip" style="float:right; width:70px; height:20px;background-color:#7D1935;color:white;"> Close </button></div>
		<div id="abbyMToolTip" style="margin:5px;"> 
		<span id="abbyMToolTipPreview" > Abby prefers to use features and methods that she is familiar with. She's good with technologies that she has used before.</span>
		<span id="abbyMToolTipComplete" hidden> 
			Abby is <span style="color:red;"><u>proficient with the technologies she uses.</u></span> She learns new technologies when she needs to, but she doesn’t spend her free time exploring technology or obscure functionality of programs and devices that she uses. When Abby uses computers to problem-solve, she has <span style="color:red;"><u>little desire to learn new functions</u></span>, or to search for information on them.  She tries to use methods she is <span style="color:red;"><u>already familiar and comfortable with</u></span> to achieve her goals.
		</span>
		<button id="abbyMToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>	
	</div>			
	</body>
 </html>