 <html>
	<body >
	<div id="BARkeryCroc" style="height:20px; background-color:#4A96AD;text-align:center;"> <span style="color:white;">Abby's Attitudes About Tinkering</span> <button id="abbyTToolTipButton" class="closeToolTip" style="float:right; width:70px; height:20px;background-color:#7D1935;color:white;"> Close </button></div>
		<div id="abbyTToolTip" style="padding:5px;" > 
		<span id="abbyTToolTipPreview" > Abby doesn't like to tinker with software, which means that she might not find features that aren't apparent. She would rather follow step-by-step tutorials, and she typically avoids troublesome features or commands.</span>
		<span id="abbyTToolTipComplete" hidden> 
		Abby <span style="color:red;">doesn't particularly like tinkering with software</span> (ie, just trying out new features or commands to see what they do) when she uses software in her work tasks.  Instead, she prefers <span style="color:red;"><u>following step-by-step tutorials and wizards.</u></span> (However, when she does tinker, it has positive effects on her understanding of the software.) When software features/commands cause problems for her, she <span style="color:red;"><u>tends to blame herself</u></span> and, if she can, she then <span style="color:red;"><u>just avoids those troublesome features/commands.</u></span> She then uses work-arounds that involve using <span style="color:red;"><u>only features/commands she is familiar with already.</u></span>
		</span>
			<button id="abbyTToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>	
		</div>
	</body>
 </html>