 <html>
	<body>	
	<div style="height:20px; background-color:#4A96AD;text-align:center;"><span style="color:white;">Abby's Computer Self-Efficacy</span>  <button id="abbySEToolTipButton" class="closeToolTip" style="float:right; width:70px; height:20px;background-color:#7D1935;color:white;"> Close </button></div>
		<div id="abbySEToolTip" style="margin:5px;"> 
			<span id="abbySEToolTipPreview" >Abby's low computer self efficacy means that she isn't confident performing computing tasks that she isn't familiar with. She might give up if she runs into too many usability issues.</span>
			<span id="abbySEToolTipComplete" hidden> 
			Abby has low computer self-efficacy, meaning that she has <span style="color:red;">low self-confidence in performing computing tasks</span> other than the ones she is familiar with.  This has a variety of impacts on how she uses software.  For example, she is not confident that she can learn to use new features and, as self-efficacy theory explains, she often gives up if she runs into challenges. Software with usability problems poses more challenges to her than it does to more confident users, and she often blames herself for problems that she encounters.
			</span>
		<button id="abbySEToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>	
		</div>			
	</body>
 </html>