 <html>
	<body>
		<div style="height:20px; background-color:#4A96AD;text-align:center;"><span style="color:white;">Abby's Comprehensive Information Processing Style</span>  <button id="abbyIPSToolTipButton" class="closeToolTip" style="float:right; width:70px; height:20px;background-color:#7D1935;color:white;"> Close </button></div>
		<div id="abbyIPSToolTip" style="margin:5px;"> 
		<span id="abbyIPSToolTipPreview" >Abby's <i>comprehensive information processing style</i> means that she tends to gather information about a problem before she starts to solve it. For instance, she might look up a tutorial.</span> 
		<span id="abbyIPSToolTipComplete" hidden> 
			Abby leans towards a <i>comprehensive information processing style</i>
			when she needs to gather information to problem-solve. That is, before following any option that seems promising, she first 
			<span style="color:red;">gathers information comprehensively to try to form a complete understanding of the problem before trying to solve it</span>. 
			Thus, her style is “burst-y”; first she reads a lot, then she acts on it in a batch of activity.
		</span>
		<button id="abbyIPSToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>	
		</div>			
			
	</body>
 </html>