 <html>
	<body>
	<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Pat's Motivation</span> <button id="patrickMToolTipButton"class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="patrickMToolTip" style="margin:5px;"> 
		<span id="patrickMToolTipPreview" >Pat learns new technologies when he needs to, and he's good with technology that he has experience with.</span>
		<span id="patrickMToolTipComplete" hidden> 
		Pat is <span style="color:red;">proficient with the technologies he uses.</span> He learns new technologies when he needs to, but he <span style="color:red;"><u>doesn't spend his free time exploring technology</u></span> or exploring obscure functionality of programs and devices that he uses. He tends to use methods he is already familiar and comfortable with to achieve his goals. 
		</span>
		<button id="patrickMToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>			
		</div>		
		
	</body>
 </html>