 <html>
	<body >
	<div id="BARkeryCroc" style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Pat's Attitudes Towards Tinkering</span><button id="patrickTToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="patrickTToolTip" style="padding:5px;"> 
		<span id="patrickTToolTipPreview" >Pat will tinker and explore software features a bit, but if he doesn't think that he's getting closer to his goal, he will revert to familiar ways.</span>
		<span id="patrickTToolTipComplete" hidden> 
		When Pat sees a need to learn new technology, he <span style="color:red;"><u>does so by trying out new features</u></span> or commands to see what they do and to understand how the software works. When he does this, he <span style="color:red;"><u>does so purposefully; that is, he reflects on each bit of feedback he gets along the way to understand how the feature might benefit him. Eventually, if he doesn't think it will get him closer to what he wants to achieve, he will revert back to ways that he already knows will work.</u></span> 
		</span>
		<button id="patrickTToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>			
		</div>
	</body>
 </html>