 <html>
	<body>
	<div style="height:20px; background-color:#1e57c8;text-align:center;"> <span style="color:white;">Pat's Attitudes About Risk</span> <button id="patrickRToolTipButton"class="closeToolTip" style="float:right; width:70px; height:20px; background-color:#ed7d31; color: white;" > Close </button></div>
		<div id="patrickRToolTip" style="margin:5px;">
			<span id="patrickRToolTipPreview" >Pat's risk-aversion leads him to mainly use software features that he is familiar with and to avoid features that he hasn't used before.</span>
			<span id="patrickRToolTipComplete" hidden>
				Pat is <span style="color:red;"><u>risk averse</u></span> when he uses computers to perform tasks. When confronted with new software features, Pat worries that he will spend time on them and not get any benefits from doing so. He prefers to perform tasks "the safe" (ie, familiar) way if possible, even if less familiar features might promise a more direct solution.
			</span>
			<button id="patrickRToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>
	</body>
 </html>
