 <html>
	<body>
		<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Pat's Information Processing Style</span>  <button id="patrickIPSToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="patrickIPSToolTip" style="margin:5px;"> 
		<span id="patrickIPSToolTipPreview" >Pat's <i>comprehensive information processing style</i> means that he tends to gather information about a problem before he starts to solve it. For instance, he might look up a tutorial.</span>
		<span id="patrickIPSToolTipComplete" hidden> 
		Pat leans towards a <i>comprehensive information processing style</i> when he needs to gather information to problem-solve. That is, before following some option that seems promising, he <span style="color:red;"><u>first gathers information comprehensively to try to form a complete understanding of the problem before trying to solve it.</u></span> Thus, his style is "burst-y"; first he reads a lot, then he acts on it in a batch of activity.
		</span>
		<button id="patrickIPSToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>			
	
		</div>			
	</body>
 </html>