
<html>
	<head>
	</head>
	<body>
	<div>
		<div id="picGoesHere" style="height:100%; width:20%;float:left;"></div>
			<div class="bullets" style="height:100%; width:80%;float:right">
				<ul>
					<li>Is <span class="patrickMTrigger" style="color:blue"> motivated</span>  by the usefulness of technology. </li>
					<li>Has a <span class="patrickIPSTrigger" style="color:blue">comprehensive information processing style </span>.</li>
					<li>Has <span class="patrickSETrigger" style="color:blue">meduim computer self-efficacy </span>.</li>
					<li>Is <span class="patrickRTrigger" style="color:blue">risk-averse</span> when it comes to software.</li>
					<li>May <span class="patrickTTrigger" style="color:blue">purposefully explore or tinker</span>, but prefers not to.</li>
				</ul>
			</div>
		</div>
	</body>
</html>