 <html>
	<body>	
	<div style="height:20px; background-color:#999999;text-align:center;"> <span style="color:white;">Pat's Computer Self-Efficacy</span> <button id="patrickSEToolTipButton" class="closeToolTip" style="float:right; width:40px; height:20px;background-color:#D24726;font-color:white;"> &#10006 </button></div>
		<div id="patrickSEToolTip" style="margin:5px;"> 
		<span id="patrickSEToolTipPreview" > Pat's medium computer self efficacy means that he will persist through some challenges when using software for a reasonable amount of time. </span>
		<span id="patrickSEToolTipComplete" hidden> 
			Pat has <span style="color:red;"><u>medium computer self-efficacy</u></span>, meaning that he has some self-confidence in performing computing tasks other than the ones he is familiar with. This has a variety of impacts on how he uses software. For example, he will keep on trying to figure out how to achieve what he has set out to do for quite awhile; he doesn't give up right away when computers or technology present a challenge to him.
		</span>
		<button id="patrickSEToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>			
		</div>			
	</body>
 </html>