<html>
	<body>
    
        <div id="imageCanvasTemplate"text-align:center;>
    
            <div style="height:25px; background-color:#4A96AD;text-align:center;">
				<!--span class="actionNameSpan" style="color:white;"> </span-->
                <button id="imageBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
                <button id="saveImageAndCloseButton" class="closeToolTip" style="zindex:10002; float:right; width:150px; height:25px;background-color:#7D1935;color:white;"> Save and Continue</button>	
            </div>
        
			<p id="imageCaption" style="margin:10px">
				This is a preview of your image. To see the full image select the view full image button. 
				You may also retake your image if you aren't happy with it. Once you have an image you like, select the save and continue
    		</p>
           
        
         </div>
            
        
        <div id="preActionTemplate" style="display:none;">
        
            <div id="preActionQuestions">
            
                <div style="height:25px; background-color:#4A96AD;text-align:center;">
					<span class="actionNameSpan" style="color:white;"> </span>
                    <button id="preActionBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>	
                    <button id="preActionClose" style="float:right; width:180px; height:25px;background-color:#7D1935;color:white;">Save and Continue </button>
                </div>
                <br>
                
                <span class="cwQuestion">Will Abby know what to do at this step?<br></span>
                <div id="yesnomaybe" style="width:100%">
                    <span><input id="actionYes" type="checkbox" name="yes" value="yes">Yes</input></span>
                    <span><input id="actionNo" type="checkbox" name="no" value="no">No</input></span>
                    <span><input id="actionMaybe" type="checkbox" name="maybe" value="maybe">Maybe</input></span>
                </div>
                
                <textarea id="whyYes" rows="4" cols="40" class="responseBox" placeholder="Why, why not or why maybe?"></textarea>
                <!--textarea id="whyNo" class="responseBox" placeholder="Why not?"></textarea>
                <textarea id="whyMaybe" class="responseBox" placeholder="Why maybe?"></textarea--><br>
                <span class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span><br>
	
               <input id="motiv" type="checkbox" value="Motivation">						<span class="abbyMTrigger" style="color:#0645AD; text-decoration: underline;"> Motivation</span><br>
            <input id="info" type="checkbox" value="Information Processing Style">	<span class="abbyIPSTrigger" style="color:#0645AD; text-decoration: underline;">Information Processing Style</span><br>
            <input id="self" type="checkbox" value="Computer Self-Efficacies">		<span class="abbySETrigger" style="color:#0645AD; text-decoration: underline;">Computer Self-Efficacies</span><br>
            <input id="risk" type="checkbox" value="Attitude Towards Risk">			<span class="abbyRTrigger" style="color:#0645AD; text-decoration: underline;">Attitude Towards Risk</span><br>
            <input id="tinker" type="checkbox" value="Willingness to Tinker">			<span class="abbyTTrigger" style="color:#0645AD; text-decoration: underline;">Willingness to Tinker</span><br>
			<input id="A0Q0none" type="checkbox"  value="None of the Above"><span>None of the Above</span><br><br>
                
            </div>
        
        </div>
        
        
        
        <div id="doActionPromptTemplate" style="display:none;">
        
            <div style="height:25px; background-color:#4A96AD;text-align:center;">
				<span class="actionNameSpan" style="color:white;"> </span>
                <button id="doActionBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
                <!--input id="postAction" type="submit" value="Save and Continue" style="float:right; width:180px; height:25px;background-color:#7D1935;color:white;"-->
            </div>
            <p style="padding:5px;">
				<div>Please follow the steps below: </div>
				<div>	Step 1: perform the action </div>
				<div>	Step 2: <span class="continueTrigger" style="color:#0645AD; text-decoration: underline;">click here</span> to continue</div>
			</p>
            
        </div>
       
        
        
        <div id="postActionTemplate" style="display:none;">
            
            <div style="height:25px; background-color:#4A96AD;text-align:center;">
				<span class="actionNameSpan" style="color:white;"> </span>
                <button id="postActionBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
                <input id="submitPostAction" type="submit" value="Save and Continue" style="zindex:10002; float:right; width:180px; height:25px;background-color:#7D1935;color:white;">
            </div>
            <br>
            
            <span class="cwQuestion">If Abby did the right thing (the one you just demonstrated), will she know that she did the right thing and is making progress toward her goal?<br></span>
            <div id="yesnomaybe" style="width:100%">
                <span><input id="YNMyes" type="checkbox" name="yes" value="yes">Yes</input></span>
                <span><input id="YNMno" type="checkbox" name="no" value="no">No</input></span>
                <span><input id="YNMmaybe" type="checkbox" name="maybe" value="maybe">Maybe</input></span>
            </div>
            
            <textarea id="postWhyYes" rows="4" cols="40" class="responseBox" placeholder="Why, why not or why maybe?"></textarea>
            <br>
            
            <span class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span>
            <br>
            <input id="Q2motiv" type="checkbox" value="Motivation">						<span class="abbyMTrigger" style="color:#0645AD; text-decoration: underline;"> Motivation</span><br>
            <input id="Q2info" type="checkbox" value="Information Processing Style">	<span class="abbyIPSTrigger" style="color:#0645AD; text-decoration: underline;">Information Processing Style</span><br>
            <input id="Q2self" type="checkbox" value="Computer Self-Efficacies">		<span class="abbySETrigger" style="color:#0645AD; text-decoration: underline;">Computer Self-Efficacies</span><br>
            <input id="Q2risk" type="checkbox" value="Attitude Towards Risk">			<span class="abbyRTrigger" style="color:#0645AD; text-decoration: underline;">Attitude Towards Risk</span><br>
            <input id="Q2tinker" type="checkbox" value="Willingness to Tinker">			<span class="abbyTTrigger" style="color:#0645AD; text-decoration: underline;">Willingness to Tinker</span><br>
            <input id="A0Q0none" type="checkbox"  value="None of the Above"><span>None of the Above</span><br><br>
			
        </div>
        <hr id="HRmorelikefunpolice">
		<p id="imageCaption2" style="margin:10px;">
				Before action image preview:
		</p>
		<p id="imageCaption3" hidden> 
			For a reminder of what the screen looked like before the action, <span id="afterb44lyfe" style="color:#0645AD; text-decoration: underline;">click here</span> 
		</p>
        <div>
        <canvas id="imageCanvas" style="zindex:10002"> 
                <img id="previewImage"></img>
           </canvas>
        <button id="annotateImage" class="previewTrigger" style="zindex:10002; float:right; width:150px; height:25px;background-color:#7D1935;color:white;"> Draw on Image </button>
        <button id="retakeImage" style="zindex:10002; float:right; width:150px; height:25px;background-color:#7D1935;color:white;"> Retake Screenshot </button> 
        </div>
        <div id="actionLoopTemplate" style="display:none;">
            
            <div style="height:25px; background-color:#4A96AD;text-align:center;">
				<span class="actionNameSpan" style="color:white;"> </span>
                <button id="loopActionBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
            </div>

            <p> Are there more actions for this subgoal? </p>
			<p>Yes, create a new Action</p>
			<input id="actionNameInput" type="text" placeholder="ex Type 'Sue' in the search bar">
			<input id="moreActions" type="submit" value="Add another action" style="background-color:#7D1935;color:white;"></input><br>

			<p>No, create a new Subgoal</p>
            <input id="subgoalInput" type="text" placeholder="ex Search for 'Sue' in the DB">
			<input type="submit" id="newSubgoal" value="Create new subgoal"style="background-color:#7D1935;color:white;">
			
			<p>No, please exit the tool</p>
            <input id="saveAndExit" type="submit" value="Save and stop GenderMag session"style="background-color:#7D1935;color:white;"></input><br>
            
        </div>
		
		<div id ="theFinalCountDown" style="display:none;">
			<div style="height:25px; background-color:#4A96AD;text-align:center;">
            </div>
			<p>WARNING! Selecting 'Continue' below will clear all of your current session's data. Please ensure that you have downloaded the zip file (download should start automatically), which contains all your screen captures and a file with all of your answers.</p>  
			<label>You can <button id="finalDownload" style="background-color:#7D1935;color:white;"> Re-download zip file</button> if needed</label><br><br>
			<label><input id="finalYesCheckbox" type="checkbox"> I understand AND HAVE DOWNLOADED MY FILES, let me end GenderMag </label> <br>
			<button id="finalYes" style="background-color:#7D1935;color:white;opacity:0.5" disabled> Quit GenderMag </button>
			<button id="finalNo" style="background-color:#7D1935;color:white;"> I'm not done, take me back </button>
		</div>
        

	</body>
 </html>