<div id="actionPrompt">
	<div>
		<span id="getActionName"> 
            <label id="actionNamePrompt">Enter an action for this subgoal</label><br>
            <input id="actionNameInput" type="text" placeholder="ex Type 'Sue' in the search bar">
            <input type="submit" id="submitActionName" value="Submit Action"> <button id="promptActionBack"> Go Back To Subgoal</button><br>
		</span>
        <span id="actionNameGot" style="display:none;"></span>
		&nbsp &nbsp &nbsp &nbsp
		<button id="editAction" hidden> Edit action name </button>
	</div>
	
	<div id="promptAction" hidden>
		
		<p class="instruction">Before discussing this action, <button id="overlayTrigger">click here</button> to take a screenshot. Highlight the action with the maroon box, then click to capture. Continue to record information in the pop-up (this slider will temporarily close).
		</p>

	</div>
</div>


