<div id="actionPrompt">
	<div>
		<span id="getActionName"> 
            <label id="actionNamePrompt">Enter an action for this subgoal</label><br>
            <input id="actionNameInput" type="text" placeholder="ex Type 'Sue' in the search bar">
            <input type="submit" id="submitActionName" value="Add Action"> <button id="promptActionBack"> Go Back To Subgoal</button><br>
		</span>
        <span id="actionNameGot" style="display:none;"></span>
		&nbsp &nbsp &nbsp &nbsp
		<button id="editAction" hidden> Edit ideal action name </button>
	</div>
	
	<div id="promptAction" hidden>
		
		<p class="instruction">Before discussing this ideal action, <button id="overlayTrigger">click here</button> then highlight the ideal action. The tool will then take a screen capture.
		</p>

	</div>
</div>