<html>
	<body>
    <button id="exitButton" style="float:right; width:95px; font-size: smaller; height:25px;background-color:#7D1935;color:white;">Exit</button>
        <div id="imageCanvasTemplate"text-align:center;>

            <div style="height:25px; background-color:#4A96AD;text-align:center;">
				<!--span class="actionNameSpan" style="color:white;"> </span-->
                <button id="imageBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
                <button id="saveImageAndCloseButton" class="closeToolTip" style="float:right; width:130px; height:25px;background-color:#7D1935;color:white;font-size: smaller"> Continue</button>
            </div>

			<p id="imageCaption" style="margin:10px">
				This is a preview of your image.
				You may also retake your image if you aren't happy with it. Once you have an image you like, select the continue button.
    		</p>


         </div>


        <div id="preActionTemplate" style="display:none;">

            <div id="preActionQuestions">

                <div style="height:25px; background-color:#4A96AD;text-align:center;">
					
                    <button id="preActionBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>

                    <button id="preActionClose" style="float:right; width:130px;font-size: smaller; height:25px;background-color:#7D1935;color:white;">Continue </button>
									</div>
									
									<div>		
										<span class="actionNameSpan" style="color:black;"></span> 
										<br>	
									</div>
									
                <span id="preActQ" class="cwQuestion">Will Abi know what to do at this step?<br></span>
                <div id="yesnomaybe" style="width:100%">
                    <span><input id="actionYes" type="checkbox" name="yes" value="yes">Yes</input></span>
                    <span><input id="actionNo" type="checkbox" name="no" value="no">No</input></span>
                    <span><input id="actionMaybe" type="checkbox" name="maybe" value="maybe">Maybe</input></span>
                </div>

                <textarea id="whyYes" rows="4" cols="40" class="responseBox" placeholder="Why, why not or why maybe?"></textarea>
                <!--textarea id="whyNo" class="responseBox" placeholder="Why not?"></textarea>
                <textarea id="whyMaybe" class="responseBox" placeholder="Why maybe?"></textarea--><br>
                <span id="preFacets" class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span><br>

                <input id="motiv" type="checkbox" value="Motivation">					<span class="MTrigger" style="color:#0645AD; text-decoration: underline;"> Motivation</span><br>
                <input id="self" type="checkbox" value="Computer Self-Efficacies">      <span class="SETrigger" style="color:#0645AD; text-decoration: underline;">Computer Self-Efficacy</span><br>
                <input id="risk" type="checkbox" value="Attitude Towards Risk">         <span class="RTrigger" style="color:#0645AD; text-decoration: underline;">Attitude Towards Risk</span><br>
                <input id="info" type="checkbox" value="Information Processing Style">  <span class="IPSTrigger" style="color:#0645AD; text-decoration: underline;">Information Processing Style</span><br>
                <input id="tinker" type="checkbox" value="Willingness to Tinker">		<span class="TTrigger" style="color:#0645AD; text-decoration: underline;">Learning: by Process vs. by Tinkering</span><br>
			    <input id="none" type="checkbox"  value="None of the Above">            <span>None of the Above</span><br><br>

            </div>

        </div>



        <div id="doActionPromptTemplate" style="display:none;">

            <div style="height:25px; background-color:#4A96AD;text-align:center;">
				
                <button id="doActionBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
                <input class="continueTrigger" type="submit" value="Continue" style="float:right; width:95px;font-size: smaller; height:25px;background-color:#7D1935;color:white;">
            </div>
            <p style="padding:5px;">
							<div>
							<span class="actionNameSpan" style="color:black;"></span>
							<br>
							</div>
				<div>Please perform the action specified previously and then
            click the 'Continue' button to proceed </div>
			</p>

        </div>



        <div id="postActionTemplate" style="display:none;">

            <div style="height:25px; background-color:#4A96AD;text-align:center;">
				
                <button id="postActionBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
                <input id="submitPostAction" type="submit" value="Continue" style="float:right; width:130px; font-size: smaller; height:25px;background-color:#7D1935;color:white;">
            </div>
						<div>
						<span class="actionNameSpan" style="color:black;"></span>
						<br>
						</div>
            <span id="postActQ" class="cwQuestion">If Abi did the right thing (the one you just demonstrated), will they know that they did the right thing and is making progress toward her goal?<br></span>
            <div id="yesnomaybe" style="width:100%">
                <span><input id="YNMyes" type="checkbox" name="yes" value="yes">Yes</input></span>
                <span><input id="YNMno" type="checkbox" name="no" value="no">No</input></span>
                <span><input id="YNMmaybe" type="checkbox" name="maybe" value="maybe">Maybe</input></span>
            </div>

            <textarea id="postWhyYes" rows="4" cols="40" class="responseBox" placeholder="Why, why not or why maybe?"></textarea>
            <br>

            <span id="postFacets" class="cwQuestion">Which of the persona's facets did you use to answer the above question?</span>
            <br>
            <input id="Q2motiv" type="checkbox" value="Motivation">						<span class="MTrigger" style="color:#0645AD; text-decoration: underline;"> Motivation</span><br>

            <input id="Q2self" type="checkbox" value="Computer Self-Efficacies">		<span class="SETrigger" style="color:#0645AD; text-decoration: underline;">Computer Self-Efficacy</span><br>
            <input id="Q2risk" type="checkbox" value="Attitude Towards Risk">			<span class="RTrigger" style="color:#0645AD; text-decoration: underline;">Attitude Towards Risk</span><br>
            <input id="Q2info" type="checkbox" value="Information Processing Style">  <span class="IPSTrigger" style="color:#0645AD; text-decoration: underline;">Information Processing Style</span><br>
            <input id="Q2tinker" type="checkbox" value="Willingness to Tinker">			<span class="TTrigger" style="color:#0645AD; text-decoration: underline;">Learning: by Process vs. by Tinkering</span><br>
            <input id="Q2none" type="checkbox"  value="None of the Above"><span>None of the Above</span><br><br>

        </div>
        <hr id="HRmorelikefunpolice">
		<p id="imageCaption2" style="margin:10px;">
				Before action image preview:
		</p>
		<p id="imageCaption3" hidden>
			For a reminder of what the screen looked like before the action, <span id="afterb44lyfe" style="color:#0645AD; text-decoration: underline;">click here</span>
		</p>
        <div>
        <canvas id="imageCanvas" style="zindex:10002">
                <img id="previewImage">
           </canvas>
        <button id="annotateImage" class="previewTrigger" style="zindex:10002; float:right; width:150px; height:25px;background-color:#7D1935;color:white;"> Draw on Image </button>
        <button id="retakeImage" style="zindex:10002; float:right; width:150px; height:25px;background-color:#7D1935;color:white;"> Retake Screenshot </button>
</div>
        <div id="actionLoopTemplate" style="display:none;">

            <div style="height:25px; background-color:#4A96AD;text-align:center;">
				
                <button id="loopActionBack" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
            </div>
						<div>
						<span class="actionNameSpan" style="color:black;"></span>
						<br>
						</div>
            <p> Action Completed. </p>

            <p> If there is another action for this subgoal,
                enter the name of the next action then click 'Create New Action' to
                proceed to highlighting the action and taking a screenshot. </p>
			<input id="actionNameInput" type="text" placeholder="ex: Type 'Sue' in the search bar" size="40">
			<input id="moreActions" type="submit" value="Create New Action" style="background-color:#7D1935;color:white;">

            <br>

            <p> If there are there is another subgoal for this scenario, enter the
                name of the next subgoal.</p>
            <input id="subgoalInput" type="text" placeholder="ex: Search for 'Sue' in the DB" size="40">
			<input type="submit" id="newSubgoal" value="Create new subgoal"style="background-color:#7D1935;color:white;">

			<p>If you are done with this session, please exit the tool</p>
            <input id="saveAndExit" type="submit" value="Download and end my GenderMag session"style="background-color:#7D1935;color:white;"></input><br>

        </div>

		<div id ="theFinalCountDown" style="display:none;">
			<div style="height:25px; background-color:#4A96AD;text-align:center;">
            </div>
			<p>WARNING! Selecting 'Quit GenderMag' below will clear all of your current session's data. Please ensure that you have downloaded the zip file which contains all your screen captures and a file with all of your answers if you wish to have a copy of your current session.</p>
			<label>You can <button id="finalDownload" style="background-color:#7D1935;color:white;"> Download zip file</button> or
                <button id="oldFormat" style="background-color:#7D1935;color:white;">
                    download the old result format
                </button> if needed
            </label><br><br>
			<label><input id="finalYesCheckbox" type="checkbox"> I understand that I must download my files if I wish to save my current session's data. </label> <br>
			<button id="finalYes" style="background-color:#7D1935;color:white;opacity:0.5" disabled> Quit GenderMag </button>
			<button id="finalNo" style="background-color:#7D1935;color:white;"> I'm not done yet. Take me back </button>
		</div>


	</body>
 </html>
