<span>
	<div id='answersActionNameDiv'>
		<b>Action <span id='answersActionNum'></span>: &nbsp; <span id='answersActionName'></span> </b>
	</div>
	<hr/>

	<!--img id='answersActionImg' src="" alt='actionImage'-->

	<span id='answersPreActionSpan' style='width:30%; float:left;'>
		<u>Will Abby know what to do at this step?</u>
		<ul>
			<li>You said: <i><span id='answersPreActionYNM'></span></i> <br/> because... <i><span id='answersPreActionWhy'></span></i> </li>
			<li>Facets used: <i><span id='answersPreActionFacets'></span></i> </li>
		</ul>
	</span>

	<span id='answersPostActionSpan' style='width:40%; float:left;'>
		<u>If Abby does the right thing, will she know that she did the right thing and that she is making progress toward her goal?</u>
		<ul>
			<li>You said: <i><span id='answersPostActionYNM'></span></i> <br/> because... <i><span id='answersPostActionWhy'></span></i> </li>
			<li>Facets used: <i><span id='answersPostActionFacets'></span></i> </li>
		</ul>
	</span>
</span>