<html>
	<head>
		
		<script src="jquery-ui-1.11.4.custom/external/jquery/jquery.js"></script>
		<script src="jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
		
		<script src="js/setup.js"></script>
		<script src="js/prewalkthrough.js"></script>
		<script src="js/helper.js"></script>
		
		<script src="popup.js"></script>
		
		<title>Welcome To GenderMag!</title>
	</head>

	<body>
		
		<p id="welcomeText">Welcome to the GenderMag Tool!</p>
		<p>The GenderMag Method (short for “<u>Gender</u> Inclusiveness <u>Mag</u>nifier”) is a method for finding gender-inclusiveness issues in software features. Using GenderMag, software developers and/or user experience (UX) teams can evaluate their software from a gender-inclusiveness perspective. Fixing issues that may disproportionately affect one gender over another can lead to better usability for everyone.</p>
		<p>For more information about GenderMag, <a href="http://gendermag.org/" target="_blank">click here</a>. </p>
		
		<button id="startGenderMagButton" style="position:absolute; left:45%; border-radius: 6px; color: #ffffff; font-size: 20px; background: #4a96ad; padding: 10px 20px 10px 20px; text-decoration: none;" >Start GenderMag</button>

	</body>
	
</html>