 <div id="imageAnnotation" >
		<div style="height:25px; background-color:#4A96AD;text-align:center;">
			<span class="actionNameSpan" style="color:white;"> </span>
			<span style="color:white">Draw on the image below! We'll save your markup.</span>
            <button id="backLargePreview" style="float:left; width:30px; height:25px;background-color:#7D1935;color:white;">&#8592 </button>
            <button id="closeLargePreview" style="float:right; width:150px; height:25px;background-color:#7D1935;color:white;"> Save and continue </button>
			<button id="undoDraw"style="float:right; width:100px; height:25px;background-color:#7D1935;color:white;"> undo </button>
			<button id="redoDraw"style="float:right; width:100px; height:25px;background-color:#7D1935;color:white;"> redo </button>
		</div>
	<canvas id="annotationCanvas"> 

	</canvas>
</div>