<html>
<head>
	<!-- <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type='text/css'> -->

	<script src="jquery-ui-1.12.1/external/jquery/jquery.js"></script>
	<script src="jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="Stuk-jszip-4cbaf0e/dist/jszip.js"> </script>

	<script src="js/helper.js"></script>
	<script src="js/output.js"></script>
	<script src="js/screenshot.js"></script>

	<script src="popup.js"></script>

	<title>GenderMag</title>
</head>

<body>


<div id="userInfo" style="height:10%; width:100%; margin:5px; overflow:hidden;">


	<span id="welcomeText">GenderMag Recorder's Assistant: <i>Pre-Session Setup</i></span>

    &nbsp; &nbsp; &nbsp;
    <span class="icon" id="team">
        <i class="fa fa-2x fa-users" aria-hidden="true"></i>
        <label id="teamName"></label>
        <button id='editTeam' style="width:55px; height:25px;background-color:#7D1935;color:white;" hidden>Edit</button>
    </span>

    <span class="icon" id="persona">
        <i class="fa fa-2x fa-user" aria-hidden="true"></i>
        <label id="personaName"></label>
        <button id='editPersona' style="width:55px; height:25px;background-color:#7D1935;color:white;" hidden>Edit</button>
    </span>

    <span class="icon" id="scenario">
        <i class="fa fa-2x fa-road" aria-hidden="true"></i>
        <label id="scenarioName"></label>
        <button id='editScenario' style="width:55px; height:25px;background-color:#7D1935;color:white;" hidden>Edit</button>
    </span>

<!-- Download and Exit button-->
<button id="saveAndExit" style="float:right; width:150px; height:25px;background-color:#7D1935;color:white;">Download and Exit</button>
<!-- Exit without Downloading button-->
<button id="justExit" style="float:right; width:100px; height:25px;background-color:#7D1935;color:white;">Exit</button>

<!-- <button id="viewPersona">View Personas</button> -->

	</div>
<hr>
<div id="sideBySide" style="overflow-y:auto; overflow-x:hidden;">
	<nav id="subgoalList" style="height:80%; width:10%; float:left"></nav>
	<div id="containeryo" style="height:80%; width:50%; margin:5px;  float:left; overflow-y: auto; overflow-x:hidden;" >
		<div id="setup" class="instruction" style="margin-bottom:5px;">
			<!--span class="preview"> Before you get started with the GenderMag walkthrough... </span-->

			<span class="complete" id="explain">This tool will guide you through a software evaluation using the GenderMag method, otherwise known as a GenderMag session. Before you get started, please enter some information that will help identify this session.</span>

			<!--button class="moreOrLess" stateVar=0> See more </button-->

		</div>

		<div id="getTeam">
			<br><label id="teamPrompt">First, enter the name of your development team or project</label><br>
			<input id="teamInput" type="text" placeholder="ex. Mobile Dev Group">
			<input type="submit" id="submitTeam"><br>
		</div>

		<div id="getPersona" hidden>
			<label id="personaPrompt">Now select a Persona</label><br>
			<select id="personaSelection" name="persona">
				<option value="Abi">Abi</option>
				<option value="Tim">Tim</option>
				<option value="Pat">Pat</option>
				<option value="Custom">Custom</option>
			</select>

            <button id="submitPersona">Submit</button><br><br>
            <b><p>To learn more about these personas, click <a href = "http://gendermag.org/Foundations.html" target = "_blank">here.</a></p></b>
		</div>

		<div id="getPersonaPronoun" hidden>
			<label id="pronounPrompt">Please enter pronouns for your persona</label><br>
			<label for="pronounInput">Subject Pronoun:</label><br>
			<input id="pronounInput" type="text" placeholder="ex: she, they, ze"><br>
			<label for="possessiveInput">Possessive Adjective:</label><br>
			<input id="possessiveInput" type="text" placeholder="ex: her, their, zir"><br>
			<input type="submit" id="submitPronoun"><br>
		</div>

		<div id="getScenario" hidden>
			<label id="scenarioPrompt"></label><br>
			<input id="scenarioInput" type="text" placeholder="ex Edit Sue's contact information" size="40" >
			<input type="submit" id="submitScenario"><br>
		</div>

		<div id="subgoals">
		</div>

		<div id="getSubgoal" hidden>
			<label id="subgoalPrompt"></label><br>
			<input id="subgoalInput" type="text" placeholder="ex Search for 'Sue' in the DB">
			<input type="submit" id="submitSubgoal" value="Submit Subgoal">
		</div>
</div>
	<div id="personaInfo"style ="height:80%; width:35%; float:left; margin:5px;overflow-y:auto;overflow-x:hidden;"></div>


 <br style="clear:left;" />
</div>
	</body>
</html>
