<div id="subgoalQuestions" style="height:75%; width:40%; float:left; margin:0px;padding:0px;overflow-x: hidden;overflow-y:auto;">
	<h3 id="subgoalHeading" style="padding:0px;margin:0px;">Subgoal</h3>
	<span class="cwQuestion">Will Abby have formed this subgoal as a step to her overall goal?<br></span>
	<div id="yesnomaybe" style="width:100%">
		<span>
		  <input type="checkbox" id="yes" value="yes">Yes</input>
		</span>
		<span>
		  <input type="checkbox" id="no" value="no">No</input>
		</span>
		<span>
		  <input type="checkbox" id="maybe" value="maybe">Maybe</input>
		</span>
	</div>
	<textarea id="A0Q0whyYes" rows="4" cols="38" class="responseBox" placeholder="Why, why not or why maybe?"></textarea>
	<div id="A0Q0Response" class="responseDiv" style="margin:5px;"> </div>
	<!--textarea id="A0Q0whyNo" class="responseBox" placeholder="Why not?"></textarea>
	<textarea id="A0Q0whyMaybe" class="responseBox" placeholder="Why maybe?"></textarea--><br>
</div>
<div id="subgoalFacets" style="height:75%; width:60%; float:left; margin:0px;padding:0px;overflow-x: hidden;overflow-y:auto;">
	<span class="cwQuestion">Which if any of the Abby's facets did you use to answer the previous question?</span><br>

	<input id="A0Q0motiv"  type="checkbox"  value="Motivation"><span>Motivation</span><br>
	<input id="A0Q0info"   type="checkbox"  value="Information Processing Style"><span>Information Processing Style</span><br>
	<input id="A0Q0selfE"   type="checkbox"  value="Computer Self-Efficacies"><span>Computer Self-Efficacies</span><br>
	<input id="A0Q0risk"   type="checkbox"  value="Attitude Towards Risk"><span>Attitude Towards Risk</span><br>
	<input id="A0Q0tinker" type="checkbox"  value="Willingness to Tinker"><span>Willingness to Tinker</span><br>
	<input id="A0Q0none" type="checkbox"  value="None of the Above"><span>None of the Above</span><br><br>
</div>
<div id="subgoalFacets" style="height:20%; width:100%; float:left; margin:0px;padding:0px;overflow-x: hidden;overflow-y:auto;">
	<input id="addAction" class= "addAction" type="submit" value="Save and Continue">
	<button id="editSubgoal" hidden> Edit 'why' text </button>
</div>