 <html>
	<body>
		<div style="height:30px; background-color:#4A96AD;  text-align:center;"> <span style="color:white;">Pat's Information Processing Style</span>
			<button id="patIPSToolTipButton" class="closeToolTip" style="float:right; width:70px; height:30px; background-color:#7D1935; color: white;" > Close </button></div>
		<div id="patIPSToolTip" style="margin:5px;">
		<span id="patIPSToolTipPreview" >Pat's <i>comprehensive information processing style</i>
			means that <span class="pronoun">they</span> tend<span class="verb-other"></span>
			to gather information about a problem before <span class="pronoun">they</span>
			start<span class="verb-other"></span> to solve it. For instance, Pat might look up a tutorial.</span>
		<span id="patIPSToolTipComplete">
		Pat leans towards a <i>comprehensive information processing style</i> when
			<span class="pronoun">they</span> need<span class="verb-other"></span> to
			gather information to problem-solve. That is, before following some option
			that seems promising, Pat first <span style="color:red;"><u>gathers information comprehensively
			to try to form a complete understanding of the problem before trying to solve it.
		</u></span> Thus, <span class="possessive">their</span> style is "burst-y";
			first <span class="pronoun">they</span> read<span class="verb-other"></span>
			a lot, then <span class="pronoun">they</span> act<span class="verb-other"></span>
			on it in a batch of activity.</span>
		<button id="patIPSToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>
	</body>
 </html>
