 <html>
	<body>
	<div style="height:30px; background-color:#4A96AD; text-align:center;"> <span style="color:white;">Pat's Motivation</span>  <button id="patMToolTipButton"class="closeToolTip" style="float:right; width:70px; height:30px; background-color:#7D1935; color: white;" > Close </button></div>
		<div id="patMToolTip" style="margin:5px;">
			<span id="patMToolTipPreview" >Pat learns new technologies when <span class="pronoun">they</span>
				need<span class="verb-other"></span> to, and <span class="pronoun">they</span>
				<span class="verb-is">are</span> good with technology that
				<span class="pronoun">they</span> ha<span class="verb-other">ve</span>
				experience with.</span>
			<span id="patMToolTipComplete">
			Pat is <span style="color:red;"><u>proficient with the technologies <span class="pronoun">they</span>
				use<span class="verb-other"></span>.</u></span>Pat learns new technologies
				when <span class="pronoun">they</span> need<span class="verb-other"></span>
				to, but Pat <span style="color:red;"><u>doesn't spend <span class="possessive">their</span>
				free time exploring technology</u></span> or exploring obscure functionality
				of programs and devices that they use. Pat tends to use methods
				<span class="pronoun">they</span> <span class="verb-is">are</span>
				already familiar and comfortable with to achieve <span class="possessive">their</span> goals.
			</span>
			<button id="patMToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>
	</body>
 </html>
