 <html>
	<body>
	<div style="height:30px; background-color:#4A96AD; text-align:center;"> <span style="color:white;">Pat's Attitudes About Risk</span>
		<button id="patRToolTipButton"class="closeToolTip" style="float:right; width:70px; height:30px; background-color:#7D1935; color: white;" > Close </button></div>
		<div id="patRToolTip" style="margin:5px;">
		<span id="patRToolTipPreview" >Pat's risk-aversion leads Pat to mainly use
			software features that <span class="pronoun">they</span> <span class="verb-is">are</span>
			familiar with and to avoid features that <span class="pronoun">they</span>
			ha<span class="verb-other">ve</span> not used before.</span>
		<span id="patRToolTipComplete" >
	Pat is <span style="color:red;"><u>risk averse</u></span> when <span class="pronoun">they</span>
			use<span class="verb-other"></span> computers to perform tasks. When
			confronted with new software features, Pat worries that <span class="pronoun">they</span>
			will spend time on them and not get any benefits from doing so.
			<span class="pronoun">they</span> <span class="verb-other"></span> to
			perform tasks "the safe" (ie, familiar) way if possible, even if less
			familiar features might promise a more direct solution.
		</span>
		<button id="patRToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>
	</body>
 </html>
