 <html>
	<body>
	<div style="height:30px; background-color:#4A96AD; text-align:center;"> <span style="color:white;">Pat's Computer Self-Efficacy</span>
		<button id="patSEToolTipButton" class="closeToolTip" style="float:right; width:70px; height:30px; background-color:#7D1935; color: white;" > Close </button></div>
		<div id="patSEToolTip" style="margin:5px;">
		<span id="patSEToolTipPreview" > Pat's medium computer self efficacy means
			that <span class="pronoun">they</span> will<span class="verb-other"></span>
			persist through some challenges when using software for a reasonable amount of time. </span>
		<span id="patSEToolTipComplete" >
		Pat has <span style="color:red;"><u>medium computer self-efficacy,</u></span> meaning
			that <span class="pronoun">they</span> ha<span class="pronoun">ve</span> some
			self-confidence in performing computing tasks other than the ones <span class="pronoun">they</span>
			<span class="verb-is">are</span> familiar with. This has a variety of
			impacts on how <span class="pronoun">they</span> use<span class="verb-other"></span>
			software. For example, Pat will keep on trying to figure out how to achieve
			what <span class="pronoun">they</span> ha<span class="verb-other">ve</span>
			set out to do for quite awhile; Pat doesn't give up right away when computers
			or technology present a challenge.</span>
		<button id="patSEToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
		</div>
	</body>
 </html>
