 <html>
	<body>
		<div style="height:30px; background-color:#4A96AD;text-align:center;"><span style="color:white;">Abi's Comprehensive Information Processing Style</span>  <button id="abiIPSToolTipButton" class="closeToolTip" style="float:right; width:70px; height:30px;background-color:#7D1935;color:white;"> Close </button></div>
		<div id="abiIPSToolTip" style="margin:5px;">
			<span id="abiIPSToolTipPreview" >Abi's <i>comprehensive information processing style</i> means that
				<span class="pronoun">they</span> tend<span class="verb-other"></span>
				to gather information about a problem before
				<span class="pronoun">they</span> start<span class="verb-other"></span>
				to solve it. For instance, <span class="pronoun">Abi</span> might look up a tutorial.</span>
		<span id="abiIPSToolTipComplete">
			Abi leans towards a <i>comprehensive information processing style</i>
			when <span class="pronoun">they</span>
			need<span class="verb-other"></span> to gather information to problem-solve.
			That is, before following any option that seems promising,
			<span class="pronoun">Abi</span> first <span style="color:red;">gather<span class="verb-other"></span>
			information comprehensively to try to form a complete understanding
			of the problem before trying to solve it</span>.Thus, <span class="possessive">their</span>
			style is “burst-y”; first <span class="pronoun">Abi</span> read<span class="verb-other"></span>
			a lot, then <span class="pronoun">they</span>
			act<span class="verb-other"></span> on it in a batch of activity.
		</span>
		<button id="abiIPSToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>
	</body>
 </html>