 <html>
	<body>
	<div style="height:20px; background-color:#1e57c8;text-align:center;"> <span style="color:white;">Abi's Motivation</span> <button id="abiMToolTipButton"class="closeToolTip" style="float:right; width:70px; height:20px;background-color:#ed7d31;color:white;"> Close </button></div>
		<div id="abiMToolTip" style="margin:5px;">
		<span id="abiMToolTipPreview" > Abi prefers to use features and methods that they are familiar with. Abi is good with technologies that they have used before.</span>
		<span id="abiMToolTipComplete" hidden>
			Abi is <span style="color:red;"><u>proficient with the technologies they use.</u></span> Abi learns new technologies when they need to, but they don’t spend her free time exploring technology or obscure functionality of programs and devices that she uses. When Abi uses computers to problem-solve, she has <span style="color:red;"><u>little desire to learn new functions</u></span>, or to search for information on them. Abi tries to use methods they are <span style="color:red;"><u>already familiar and comfortable with</u></span> to achieve their goals.
		</span>
		<button id="abiMToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
	</div>
	</body>
 </html>
