 <html>
	<body>
	<div style="height:30px; background-color:#4A96AD;text-align:center;">
		<span style="color:white;">Abi's Motivation</span> <button id="abiMToolTipButton"
		class="closeToolTip" style="float:right; width:70px; height:30px;background-color:#7D1935;color:white;">
		Close </button></div>
		<div id="abiMToolTip" style="margin:5px;">
		<span id="abiMToolTipPreview" > Abi prefers to use features and methods that
			<span class="pronoun">they</span> <span class="verb-is">are</span> familiar with.
			Abi is good with technologies that <span class="pronoun">they</span>
			ha<span class="verb-other">ve</span> used before.</span>
		<span id="abiMToolTipComplete">
			Abi is <span style="color:red;"><u>proficient with the technologies
			<span class="pronoun">they</span> use<span class="verb-other"></span>.
			</u></span>
			Abi learns new technologies when <span class="pronoun">they</span>
			need<span class="verb-other"></span> to, but
			<span class="pronoun">they</span> don’t spend <span class="possessive">their</span> free time
			exploring technology or obscure functionality of programs and devices
			that <span class="pronoun">they</span> use<span class="verb-other"></span>.
			When Abi uses computers to problem-solve, <span class="pronoun">they</span>
			ha<span class="verb-other">ve</span> <span style="color:red;"><u>
			little desire to learn new functions</u></span>, or to search for
			information on them. Abi tries to use methods that <span class="pronoun">they</span>
			<span class="verb-is">are</span> <span style="color:red;"><u>already familiar and comfortable with</u></span> to achieve
			<span class="possessive">their</span> goals.
		</span>
		<button id="abiMToolTipSeeMOAR" class="moreOrLess" stateVar=0>See more...</button>
	</div>			
	</body>
 </html>