 <html>
	<body>
	<div style="height:30px; background-color:#4A96AD;text-align:center;"> <span style="color:white;">Abi's Attitudes Towards Risk</span>
		<button id="abiRToolTipButton"class="closeToolTip" style="float:right; width:70px;
		height:30px;background-color:#7D1935;color:white;"> Close </button></div>
		<div id="abiRToolTip" style="margin:5px;">
		<span id="abiRToolTipPreview" > Abi's risk-aversion leads Abi to mainly
			use software features that <span class="pronoun">they</span> <span class="verb-is">are</span>
			familiar with and to avoid features that <span class="pronoun">they</span>
			ha<span class="verb-other">ve</span> not used before.</span>
		<span id="abiRToolTipComplete">
			Abi is <span style="color:red;">risk averse</span> when <span class="pronoun">they</span>
			use<span class="verb-other"></span> computers to perform tasks. When
			confronted with new software features, Abi worries that <span class="pronoun">they</span>
			will spend time on them and not get any benefits from doing so. Abi
			tries to perform tasks "the safe” (ie, familiar) way, even if the less
			familiar features might promise a more direct solution.
		</span>
		<button id="abiRToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>			
	</body>
 </html>