 <html>
	<body>
	<div style="height:20px; background-color:#4A96AD;text-align:center;"> <span style="color:white;">Abi's Attitudes Towards Risk</span> <button id="abiRToolTipButton"class="closeToolTip" style="float:right; width:70px; height:20px;background-color:#7D1935;color:white;"> Close </button></div>
		<div id="abiRToolTip" style="margin:5px;">
		<span id="abiRToolTipPreview" > Abi's risk-aversion leads her to mainly use software features that she is familiar with and to avoid features that she hasn't used before.</span>
		<span id="abiRToolTipComplete" hidden>
			Abi is <span style="color:red;">risk averse</span> when she uses computers to perform tasks. When confronted with new software features, Abi worries that she will spend time on them and not get any benefits from doing so. She tries to perform tasks "the safe” (ie, familiar) way, even if the less familiar features might promise a more direct solution.
		</span>
		<button id="abiRToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>			
	</body>
 </html>