 <html>
	<body>
	<div style="height:20px; background-color:#1e57c8;text-align:center;"><span style="color:white;">Abi's Computer Self-Efficacy</span>  <button id="abiSEToolTipButton" class="closeToolTip" style="float:right; width:70px; height:20px;background-color:#ed7d31;color:white;"> Close </button></div>
		<div id="abiSEToolTip" style="margin:5px;">
			<span id="abiSEToolTipPreview" >Abi's low computer self efficacy means that they aren't confident performing computing tasks that they aren't familiar with. Abi might give up if they run into too many usability issues.</span>
			<span id="abiSEToolTipComplete" hidden>
			Abi has low computer self-efficacy, meaning that they have <span style="color:red;">low self-confidence in performing computing tasks</span> other than the ones they are familiar with.  This has a variety of impacts on how they use software.  For example, Abi is not confident that they can learn to use new features and, as self-efficacy theory explains, they often give up if they run into challenges. Software with usability problems poses more challenges to her than it does to more confident users, and they often blame themselves for problems that they encounters.
			</span>
		<button id="abiSEToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>
	</body>
 </html>
