 <html>
	<body>	
	<div style="height:30px; background-color:#4A96AD;text-align:center;"><span style="color:white;">Abi's Computer Self-Efficacy</span>
		<button id="abiSEToolTipButton" class="closeToolTip" style="float:right; width:70px; height:30px;background-color:#7D1935;color:white;">
			Close
		</button></div>
		<div id="abiSEToolTip" style="margin:5px;">
			<span id="abiSEToolTipPreview" >Abi's low computer self efficacy means
				that <span class="pronoun">they</span> <span class="verb-is">are</span>
				not confident performing computing tasks that <span class="pronoun">they</span>
				<span class="verb-is">are</span> not familiar with. Abi might give
				up if <span class="pronoun">they</span> run<span class="verb-other"></span>
				into too many usability issues.</span>
			<span id="abiSEToolTipComplete">
			Abi has low computer self-efficacy, meaning that <span class="pronoun">they</span>
				ha<span class="verb-other">ve</span> <span style="color:red;">low
				self-confidence in performing computing tasks</span> other than
				the ones they are familiar with.  This has a variety of impacts on
				how <span class="pronoun">they</span> use<span class="verb-other"></span>
				software.  For example, Abi is not confident that <span class="pronoun">they</span>
				can learn to use new features and, as self-efficacy theory explains,
				<span class="pronoun">they</span> often give<span class="verb-other"></span>
				up if they run into challenges. Software with usability problems
				poses more challenges to her than it does to more confident users,
				and <span class="pronoun">they</span> often blame<span class="verb-other"></span>
				<span class="possessive">their</span>self for problems that
				<span class="pronoun">they</span> encounter<span class="verb-other"></span>.
			</span>
		<button id="abiSEToolTipSeeMOAR" class="moreOrLess" stateVar=0> See more... </button>
		</div>			
	</body>
 </html>