

#ayy{
	width: 300px;
	height:500px;
	position:absolute;
	top:100px;
	left:100px;
	border:3px solid #4A96AD;
	background-color : white;

}

#imageAnnotation{
	width: 500px;
	height:500px;
	position:absolute;
	top:150px;
	left:100px;
	border:3px solid #4A96AD;
	background-color : white;

	 -webkit-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -moz-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    -o-transition:width 300ms ease-in-out, height 300ms ease-in-out;
    transition:width 300ms ease-in-out, height 300ms ease-in-out;
}
/* uncomment for lulz

#imageAnnotation:hover{transform: rotate(180deg);} 
*/