body {
	margin: 0px; 
}

#slideout {
	position: fixed;
	bottom: 0px;
	left: 50%;
	width: 135px;
	height:20px;
	padding: 0px;
	text-align: center;
	transform: translate(-50%, -0%);
	background: #7D1935;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	border-width:0px;
}


#slideout.clicked {
	bottom: 250px;
}
#GenderMagFrame.clicked {
	bottom: 0px;
}
		
#GenderMagFrame {
	position: fixed;
	bottom: -250px;
	background: #F0F0F0;
	left: 0;
	width: 100%;
	height: 250px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	text-align: left;
	-webkit-border-radius: 0 0 5px 0;
	-moz-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
	border-style: solid;
	border-width: 2px 0px 0px 0px;
	border-color: #7D1935;
}


